.pokemon_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    border-radius: 1em;
    border: 1px solid;
}

.data_container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: 1px solid;
}

.pokemon_data{
    padding: 0;
    list-style: none;
    border: 1px solid;
}

.pokemon_sprite{
    border: 1px solid;
}