.pokemon_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    border-radius: 1em;
    border: 1px solid;
}

.data_container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pokemon_data{
    padding: 0;
    list-style: none;
}

.pokemon_sprite{
    display: grid;
    place-items: center;
    width: 110px;
}

.pokemon_sprite > img{
    width: 100%;
    object-fit: contain;
}