.pokemons_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 95%;
    /* background-image: url('../../assets/imgs/pokeball.svg');
    background-size: contain; */
}

.header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 30;
}

.header_title{
    text-align: center;
    color: #f1f1f1;
    background-color: rgba(255, 31, 31, 1);
    padding: 1em;
}

.header_title> h2{
    margin: 0;
}

.logo{
    width: 200px;
}

.subheader{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background-color: #000;
}

.search_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search_container> input{
    width: 75%;
    height: 30px;
    padding: 1em;
    border-radius: 1em 0 0 1em;
}

.search_container> input:focus{
    outline: none;
}

.search_container> button{
    position: relative;
    border-radius: 0 1em 1em 0;
    background-color: rgba(255, 31, 31, 1);
    font-weight: bold;
    color: #f1f1f1;
    width: 15%;
    height: 31px;
    left: -20p;
    border: none;
}

.filter_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 90%;
    color: #f1f1f1;
}

.filter_bar > select{
    width: 45%;
    height: 30px;
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    width: 100%;
    gap: 2em;
}

.pagination_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFF;
}

.pagination_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1em;
    align-items: center;
    list-style: none;
    gap: 1em;
}

@media screen and (min-width: 480px) {
    .pokemons_container{
        margin-top: 55%;
    }
}

@media screen and (min-width: 789px) {
    .pokemons_container{
        margin-top: 35%;
    }
}

@media screen and (min-width: 992px) {
    .pokemons_container{
        margin-top: 22%;
    }

    .subheader{
        flex-wrap: nowrap;
    }

    .search_container>input {
        width: 45%;
    }

}