.detail_layout{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1.5em;
    gap: 2em;
}

.hero_pokemon{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 650px;
    gap: 1em;
    border-radius: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.head_hero{
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    color: var(--text-light);
    width: 70px;
    height: 30px;
    padding: .4em;
    border-radius: 1em;
    background-color: var(--bg-crystal);
    z-index: 2;
}

.hero_pokemon .title{
    position: relative;
    font-size: 2.3em;
    font-weight: bold;
    color: var(--text-light);
    text-align: center;
    top: calc(100% - 120%);
    max-width: 550px;
    padding: 0 .5em;
    margin-top: 2em;
    border-radius: 1em;
    background-color: var(--bg-crystal);
    z-index: 2;
}

.vector_bg{
    opacity: .5;
    position: absolute;
    width: calc(100vw - 10%);
    height: calc(100vh - 60%);
    animation: pulse 3s infinite linear;
    z-index: 0;
}

.sprite{
    display: flex;
    position: relative;
    bottom: 50px;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 480px;
    z-index: 10;
}

.sprite > img{
    width: 90%;
    object-fit: cover;
}

.sprite > img:hover{
    transform: scale(1.2);
    z-index: 20;
}

.stats_container{
    position: relative;
    display: flex;
    /* top: -7%; */
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    list-style: none;
    background-color: var(--bg-white);
    gap: 1em;
}

.stat_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5em;
}

.stat_box.types{
    justify-content: center;
}

.stat_box > label{
    width: 150px;
}

.stat_box >progress {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 1em;
    width: 50%;
}

.stat_box> ::-webkit-progress-bar {
    background-color: #3c3c3c;
    border-radius: 1em;
}

.stat_box> ::-webkit-progress-value {
    border-radius: .5em;
}

/* Compatibility progress bar to Mozilla */
.stat_box> ::-moz-progress-bar {
    background: var(--first-color);
    border-radius: .5em;
}


@keyframes pulse {
    0%{
        transform: scale(1) rotate(0deg);
    }
    50%{
        transform: scale(1.1) rotate(180deg);
    }
    100%{
        transform: scale(1) rotate(0deg);
    }
}

@media screen and (min-width: 498px) {
    .sprite{
        width: 350px;
    }

    .vector_bg{
        width: calc(100vw - 5%);
        height: calc(100vh - 25%);
    }
}