.nav_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: .5em;
    color: var(--text-light);
    background-color: var(--first-color);
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.nav_logo {
    width: 250px;
    height: 100px;
    cursor: pointer;
}

.nav_logo>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    list-style: none;
    gap: 2em;
}

.menu_item {
    padding: .5em;
}

.menu_link {
    display: flex;
    gap: .3em;
    text-decoration: none;
    color: var(--text-light);
}

.menu_select {
    visibility: hidden;
    margin-right: .5em;
}

.menu_link:hover {
    transform: translateY(-2px);
}

.menu_link:hover>span.menu_select {
    visibility: visible;
    animation: flash 2s infinite linear;
}

.subheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: .5em;
    width: 100%;
    height: 70px;
    font-weight: bold;
    background-color: var(--bg-color);
}

.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
}

.search_container>input {
    width: 100px;
    height: 40px;
    padding: 0 1em;
    border: none;
    border-radius: 1em 0 0 1em;
}

.search_container>input:focus {
    outline: none;
}

.search_container>button {
    position: relative;
    border-radius: 0 1em 1em 0;
    background-color: var(--first-color);
    font-weight: bold;
    color: var(--text-light);
    width: 15%;
    height: 31px;
    left: -20p;
    border: none;
}

.filter_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: var(--text);
}

.filter_bar>select {
    width: 200px;
    height: 40px;
    padding: 0 1em;
    font-weight: bold;
    border-radius: .5em;
    color: var(--text);
    background-color: var(--bg-color);
}



@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 1366px) {
    .nav_container {
        max-width: 1366px;
        margin: auto;
    }

    .subheader {
        max-width: 1366px;
        margin: auto;
    }
}